/*-- for what I can page--*/
.can-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.can-page-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.can-imgs {
    max-height: 30vh;   
    max-width: 60vw;
}

.can-page h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

@media screen and (min-width: 960px) {
    .history-year {
        margin: 5px;
    }
    
 }