/* ----for footer----*/

footer {
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.copywrite {
    color:white
}

/* --DESKTOP-- */
@media screen and (min-width: 960px) {
   footer {
    flex-direction: row;
    justify-content: space-between;
   }

   .wrap-snsicon, p {
    margin: 20px;
   }
}