.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: yellow;
}

.Home {
  flex-grow: 1; /* コンテンツが余白を埋めるように設定 */
}

.Footer {
  margin-top: auto; /* フッターをページの下部に配置 */
}