@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: yellow;
}

.Top {
  flex-grow: 1; /* コンテンツが余白を埋めるように設定 */
  text-align: center;
}

.Footer {
  margin-top: auto; /* フッターをページの下部に配置 */
}