/*-- for tooltip js component --*/

.tooltip-image {
    max-height: 50vh;
    max-width: 60vw;
    margin: 40px auto 20px;
  }

#toolTip {
  font-size: 20px;
  background-color: white;
  margin: 10px 150px;
  padding: 5px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}